In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/도서별 상세/NL_bo_species_master_new_2019_new.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048568 entries, 0 to 1048567
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ?master_seq  1044370 non-null  float64
 1   isbn13       1047090 non-null  object
 2   vol          275990 non-null   object
 3   title        1043975 non-null  object
 4   author       1030327 non-null  object
 5   publisher    1023539 non-null  object
 6   pub_date     1014061 non-null  object
 7   add_code     637688 non-null   object
 8   price        727125 non-null   object
 9   img_url      724525 non-null   object
 10  description  521262 non-null   object
dtypes: float64(1), object(10)
memory usage: 88.0+ MB

In [4]:
df = df.dropna(subset=['?master_seq'])

In [5]:
df_Detail_202012_1 = pd.read_csv("data/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
df_Detail_202012_2 = pd.read_csv("data/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-2.csv")
df_Detail_202012_3 = pd.read_csv("data/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-3.csv")
df_Detail_202012_4 = pd.read_csv("data/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-4.csv")
df_Detail_202012_5 = pd.read_csv("data/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-5.csv")

c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (1,11,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (1,7,10,11,12,13,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (1,6,7,9,10,11,12,13,14,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (11,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (6,11,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_total = pd.concat([df_Detail_202012_1,df_Detail_202012_2,df_Detail_202012_3,df_Detail_202012_4,df_Detail_202012_5])

In [7]:
df.columns

Index(['?master_seq', 'isbn13', 'vol', 'title', 'author', 'publisher',
       'pub_date', 'add_code', 'price', 'img_url', 'description'],
      dtype='object')

In [8]:
df_total.sample(5)

,SEQ_NO,ISBN_THIRTEEN_NO,VLM_NM,TITLE_NM,AUTHR_NM,PUBLISHER_NM,PBLICTE_DE,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
622617,3508578,9791155382769,NaN,인천지역의 고용변화 요인과 고용의 질에 관한 실증분석,"오준병,장경수 [저]",한국은행 인천본부,NaN,93320.0,NaN,NaN,NaN,321.524,NaN,NaN,NaN,Y,Y,9791155382769
848777,2259238,9788936907969,NaN,"세계는 넓고, 스쿠터는 발악한다 :영국에서 유라시아를 건너 한국까지 2만km의 대장...",글·사진: 임태훈,대원사,NaN,3810.0,12900.0,http://image.aladin.co.kr/product/283/53/cover...,영어를 배우기 위해 영국으로 건너간 대한민국 청년. 비자 만기일이 다가오고 집으로 ...,980.24,"세계는넓고,스쿠터는발악한다영국에서유라시아를건너한국까지2만km의대장정",NaN,2008-11-18,Y,Y,9788936907969
434781,2014068,9788994459394,NaN,그리움이 가득 핀 섬에 가고 싶다 :장근수 시집,지은이: 장근수,개미,NaN,3810.0,10000.0,http://image.aladin.co.kr/product/3565/75/cove...,"임과 어머니에 대한 그리움을 비롯하여 가족, 선생님, 친구, 고향, 호수, 달, 계...",811.7,그리움이가득핀섬에가고싶다장근수시집,지은이장근수,2014-01-20,Y,Y,9788994459394
712566,5376541,9781409045113,NaN,Before I Go To Sleep,S J Watson,Transworld,NaN,NaN,14290.0,https://bookthumb-phinf.pstatic.net/cover/144/...,Memories define us.So what if you lost yours e...,NaN,beforeigotosleep,sjwatson,2011-04-28,Y,Y,NaN
975994,2919107,9783651000476,NaN,Die R?pel-Republik: Warum sind wir so unsozial?,J?rg Schindler,Scherz Verlag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN

In [10]:
df_total[df_total['ISBN_THIRTEEN_NO'] == 9788992053419]

,SEQ_NO,ISBN_THIRTEEN_NO,VLM_NM,TITLE_NM,AUTHR_NM,PUBLISHER_NM,PBLICTE_DE,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
575389,1135569,9788992053419,NaN,"무엇이 정의인가? :한국사회, <정의란 무엇인가>에 답하다","이택광,이권우 지음",마티,NaN,3300.0,15000.0,http://image.aladin.co.kr/product/857/47/cover...,샌델과 정의 신드롬이 불러온 많은 물음에 답하기 위해 기획되었다. 정의에 열광하는 ...,193.0,"무엇이정의인가한국사회,정의란무엇인가에답하다","이택광,이권우지음",2011-01-10,Y,Y,9788992053419