In [41]:
import pandas as pd

In [2]:
# df = pd.read_csv("data/도서별 상세/NL_bo_species_master_new_2019_new.csv")

In [3]:
# df = df.dropna(subset=['?master_seq'])

In [42]:
df1 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-1.csv")
df2 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-2.csv")
df3 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-3.csv")
df4 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-4.csv")
df5 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-5.csv")
df6 = pd.read_csv("data/도서 키워드/NL_BO_TAG_CLOUD4_202012-6.csv")

df = pd.concat([df1,df2,df3,df4,df5,df6])

c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
print(len(df))

16846337

In [45]:
df
##FQ_CO를 캇 하는 기준을.. 중간/평균값 중 하나로 잡아야 되고
# 이 수많은 데이터들 중 중간값으로 캇 할수있는지??
#pivot_table = df.pivot_table(index='날짜', columns='지역', values='상품', aggfunc=combine_strings)
# 피봇 테이블 생성
def combine_strings(series):
    return ', '.join(series)

pvdf = df.pivot_table(index='ISBN_NO', columns='FQ_CO', values='WRD_NM', aggfunc=combine_strings)

In [46]:
pvdf

FQ_CO,1,2,3,4,5,6,7,8,9,10,...,278,282,283,289,294,297,326,328,390,396
ISBN_NO,,,,,,,,,,,,,,,,,,,,,
1111111111111,NaN,영어학습,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090000056501,"매일, 고전, 하이쿠, 삼국유사, 동양고전, 하루, 열하일기, 논어","민음사편집부, 2018인생일력","인생일력, 교양인문학",민음사,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090000063035,"편리, 이미지, 일력, 쓰기, 옛글, 느낌, 문장, 하이쿠, 논어, 차고, 사용, ...","2019인생일력, 매일, 민음사편집부","교양인문학, 민음사",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8801748054605,"밤하늘, 여전, 사진, 밑그림, 비행접시, 자신, 부록, 사이, 반짝, 우주, 바탕...","리타폴커, 종이나라, 종이접기, 그림판, 완성, 종이접기놀이상자우주탐험",만들기접기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803581200010,"다양, 새해인사, 포토북, 기념일, 문장, 특전, 인증카드, 날짜, 시집, 스티커,...","세트, 사용, 책갈피","이종석, 다이어리, 배우, 사진집, 사진, YG엔터테인먼트",NaN,달력,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9791196241025,"조화, 부합",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9791196243265,"이혼, 시선",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9791196376406,양의,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9791196460310,"시행착오, 생활, 소개, 구름, 거리, 처음, 책갈피, 시작","호시오사나에, 직선과곡선, 하루, 편지지, 이선희옮긴이, 일본문학, 세트, 가게, ...","작은에도, 편지지세트, 유미코",NaN,초승달당,NaN,NaN,NaN,활판인쇄,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
K000462434686,"오늘, 시작, 편리, 오스틴, 피츠제럴드, 독자, 사랑, 해당, 헤밍웨이, 나보코프...","2016문학동네세계문학전집달력, 세계문학전집, 문학동네엮음","2016년달력다이어리, 문장",문학동네,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df[df['ISBN_NO'] == 9791158711313].sample(10)

,ISBN_NO,WRD_NM,FQ_CO,ONE_WGHTVAL_VALUE,TWO_WGHTVAL_VALUE,THREE_WGHTVAL_VALUE
1846328,9791158711313,북아트,1,0,0,0
1846249,9791158711313,프랑스,2,0,0,0
1846233,9791158711313,이상한나라의앨리스,3,0,0,0
1846303,9791158711313,기타,1,0,0,0
1846292,9791158711313,회화,1,0,0,0
1846330,9791158711313,접지,1,0,0,0
1846314,9791158711313,강렬,1,0,0,0
1846315,9791158711313,가운데,1,0,0,0
1846257,9791158711313,물이 되는 꿈,2,0,0,0
1846319,9791158711313,이용,1,0,0,0